@charset "utf-8";

$contents-width: 1220px;

$breakpoint: 768px;

$breakpoint-sm: 480px;

$breakpoint-smm: 375px;

$breakpoint-smmm: 320px;

$full-width: 100%;

$bg-body: #f3f3f3;

$bg-white: #fff;

$bg-color-nav: #ffffff;

$japan-font: "YuGothic-Medium", sans-serif;

$eng-font: "DINCondensed-bold", sans-serif;

$font-size: 16px;

$color: #000;

$alink: #0074c8;

$avisited: #0074c8;

$ahover: #0074c8;

$afocus: #cce2fc;

$border-color: #797979;

$box-sizing: border-box;

$anm-effect: 0.3s ease-out all;

$tit-color: #222;

$bg-button: #000;


